/* ./public/style.css */
div{
  margin: 0;
  padding: 0;
}

#anon{
  display: flex;
  flex-direction: row;
  padding: auto 0;
  align-items: center;
}

#anontxt{
  margin: 0;
  padding: 0;
}

#anonymous{
  width: fit-content;
  padding: 0;
  margin: 0;
}

#type{
  width: 80%;
}

#sent{
  width: 20%;
}

header {
  display: flex;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 10px 20px;
  align-content: flex-start;
  flex-direction: row;
  background-color: #888;
  justify-content: space-between;
}

#content{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  align-content: flex-start;
}

#sidebar{
  display: flex;
  flex-direction: column;
  float: left;
  height: 90vh;
  width: 10vw;
}

.chat {
  content: '';
  box-sizing: border-box;
  width: 90vw;
  height: 90vh;
  background-color: #AAA;
  padding: 5px 10px;
  overflow: scroll;
}

body {
  background: #eee;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

form{
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0;
  margin: 0;
}

.input{
  height: fit-content;
}









* {
  box-sizing: border-box;
  transition: all .3s ease;
}



h1, .user-count {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
}

.user-count {
  float: right;
  flex-direction: column;
}



.chat p {
  margin: 0 0 5px 0;
}

input, button {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 20px;
  padding: 5px 10px;
}

label{
  margin-top: 10px;
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
  background: #ddd;
}
/*
@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 140px);
  }
  input {
    width: calc(100% - 160px);
  }
  button {
    float: right;
    width: 150px;
  }
}
*/