html, body {
  background: #eee;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Ubuntu', Arial;
}

div{
  margin: 0;
  padding: 0;
}

#teacher{
  font-size: 20px;
  padding: 10%;
}

#student{
  font-size: 20px;
  padding: 10%;
  margin-bottom:0%;
}

#students {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 10%;
  padding-bottom: 5%;
}

header {
  display: flex;
  width: 100vw;
  height: 100px;
  margin: 0;
  padding: 10px 20px;
  align-content: flex-start;
  flex-direction: row;
  background-color: #2674f0;
  justify-content: space-between;
}

header p, header label, header h1{
  color: white;
}

img{
  width: 80px;
  height: 80px;
}

#anon{
  display: flex;
  flex-direction: row;
  padding: auto 0;
  align-items: center;
}

#anontxt{
  margin: 0;
  padding: 0;
}

#anonymous{
  width: fit-content;
  padding: 0;
  margin: 0;
}

#corner{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

#name{
  padding: 0;
  margin: 0;
}

#anontxt{
  margin-right: 10px;
}

#link{
  border-radius: 5px;
  padding: 0;
  margin: 10px 0 0;
}

#sidebar{
  display: flex;
  flex-direction: column;
  float: left;
  height: calc(100vh - 100px);
  width: 20vw;
  background-color: #AAA
}

#content{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh-100px);
  align-content: flex-start;
}

.chat {
  content: '';
  box-sizing: border-box;
  width: 80vw;
  height: calc(90vh - 100px);
  background-color: #EEE;
  padding: 5px 10px;
  overflow: scroll;
}

form{
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0;
  margin: 0;
}

.input{
  height: fit-content;
}

#type{
  width: 80%;
}

#sent{
  width: 20%;
}










* {
  box-sizing: border-box;
  transition: all .3s ease;
}

h1, .user-count {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
}

.user-count {
  float: right;
  flex-direction: column;
}

.chat p {
  margin: 0 0 5px 0;
}

input, button {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 20px;
  padding: 5px 10px;
}

label{
  margin-top: 10px;
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
  background: #ddd;
}
/*
@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 140px);
  }
  input {
    width: calc(100% - 160px);
  }
  button {
    float: right;
    width: 150px;
  }
}
*/