body{
	background-image: url("http://www.mmc.edu/education/som/academicdepartments/basicsciences/profmedicaleducation/profess-med-photos.jpg");
	background-size: cover;
}

#navbar{
	height: 10vh;
}

#topper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	height: auto;
	font-size: 28px;
	background-color: white;
	vertical-align: middle;
	padding: auto 10px;
}

#classroomlink {
	font-size: 100px;
}

#content{
	width: 100vw;
	height: auto;
	margin: 20px 25px;
	padding: 0px;	
}

#defaultview{
	width: 100vw;
	height 90vh;
}
footer {
	position: fixed;
	bottom: 0;
	right: 5;
}
