body{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1a/Curtis_Lecture_Halls_interior_view3_empty_class.jpg");
	background-size: cover;
	color: black;
	font-family: 'Ubuntu', Arial;
}

#google-button{
	float: right;
	width: 20%;
	border-radius: 0px;
	border-bottom-left-radius: 10px;
}

#topper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: auto;
	font-size: 28px;
	background-color: white;
	vertical-align: middle;
	padding: auto 10px;
	overflow: hidden;
}

#classroomlink {
	border-radius: 10px;
	font-size: 25px;
}

#classroomlink a:hover{
	text-decoration: none;
}

#content{
	width: calc(50vw - 25px);
	height: auto;
	margin: 20px 25px;
	padding: 0px;
	font-size: 20px;
}

.paragraph{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	width: calc(50vw - 25px);
	height: auto;
	padding: 0;
}

footer{
	position: fixed;
	background-color: rgba(255, 255, 255, 0.3);
	bottom: 0;
	right: 5;
}