body{
	background-color: /* cgp*/grey;
}

#navbar{
	height: 10vh;
}

#content{
	width: 100vw;
	height: auto;
	margin: 20px 25px;
	padding: 0px;	
}

#defaultview{
	width: 100vw;
	height 90vh;
}
footer {
	position: fixed;
	bottom: 0;
	right: 5;
}
